div {
    height: 100px;
    width: 100px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.4;
    background-color: #d9ed92;
}

h1 {
    position: relative;
    left: 200%;
}

.square {

    text-align: center;
    margin: 20pt;
    width: 72pt;
    height: 72pt;

}

.container  {
    display: flex;
    width: 450pt;
    height: 80pt;
}